<div class="control-panel">
  <div class='laser-connecting' style='display: none'>Laser Connecting</div>
  
  <h1>K40 Laser Controller</h1>
  <div class='controls'>
    <div>
      <h2>Jog Controls</h2>
      <div>
        <button onclick="jog('up')">↑</button><br>
        <button onclick="jog('left')">←</button>
        <button onclick="jog('home')">⌂</button>
        <button onclick="jog('right')">→</button><br>
          <button onclick="jog('down')">↓</button>
      </div>
    </div>
      <div>
        <h2>Laser</h2>
          <button onclick="testFire()">Test Fire</button>
        </div>
      <div>
        <button onclick="refreshPage()">Refresh</button>
      </div>
    </div>
  </div>
</div>
